<!-- by convention partials don't go in a directory called partials -->
<!-- they go in either shared or elements -->

<ul>
	<% if current_user!=nil %>
	<h2> User:<%= current_user.email %></h2>
	<h3> <%=link_to "Sign Out", destroy_user_session_path, method: :delete%></h3>
	<%else%>
	<h2> Welcome </h2>
	<%end%>

</ul>


<ul>
	<li><%= link_to "Home", root_path%></li>
	<% if current_user!=nil %>
	<li><%= link_to "Cart (#{current_user.user_products.count})", checkout_cart_path %></li>
	<%end%>
</ul>

<% if user_signed_in? %>
  <%= "Flashy banner zomg: #{current_user.affiliation} discounts eligible" if current_user.affiliation %>
<% end %>
